@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
   
}

.containerGame{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
canvas{
    background-color: rgb(26, 26, 26);
}